@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Roboto+Flex:opsz,wght@8..144,300&display=swap');
:root{
    --background-color: #cccccc;
    --primary-color: #3f3d56;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Flex', sans-serif;
}

/* Base Styling */
a{
    color: #333;
    text-decoration: none;
}

li{
    list-style: none;
}

button{
    cursor: pointer;
}

/* Utilities */
.container{
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    padding: 0 20px;
    text-align: center;
}

.primary-color{
    color: var(--primary-color);
}

.capitalize{
    text-transform: capitalize;
}

.upper-case{
    text-transform: uppercase;
}

.white{
    color: white;
    letter-spacing: 5px;
    font-weight: lighter;
}

.mb-2{
    margin-bottom: 20px;
}


.l-heading{
    font-size: 64px;
    font-weight: 600;
    line-height: 62px;
    padding-bottom: 20px;
}

.bg-dark{
    background-color: #000;
    color: #fff;
    font-weight: bolder;
    text-align: center;
}

.bg-primary{
    background-color: var(--primary-color);
    color: #fff;
    font-weight: bolder;
    text-align: center;
}

.bg-light{
    background-color: #cccccc;
    color: #000;
    font-weight: bolder;
    text-align: center;
}

.btn{
    padding: 10px 20px;
    border: 1px solid #000;
    border-radius: 5px;
    background: #000;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    text-align: center;
    appearance: button;
    display: flex;
    align-items: center;
    justify-content: center;
}



.btn-1{
    display: block;
    border: 1px solid var(--primary-color);
    padding: 10px 20px;
    cursor: pointer;
    border: none;
}

.center{
    text-align: center;
}

.error{
    color: red;
}

.lead{
    letter-spacing: 0.2rem;
    color: #19109d;
    font-weight: lighter;
    font-size: 10px;
}

.success{
    background-color: var(--primary-color);
    color: var(--background-color);
    padding: 10px;
    text-align: center;
}

.failure{
    background-color: crimson;
    color: var(--background-color);
    padding: 10px;
    text-align: center;
}



/* Navbar Styling */
#navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;    
    padding: 20px 0;
}

#navbar h1{
    font-family: 'Dancing Script', cursive;
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 46px;
}

#navbar .icon-forum img{
    color: #cccccc;
}

ul{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-transform: capitalize;

}

ul li{
    margin-right: 20px;
}

#navbar a{
    display: block;
    padding: 13px 20px;
}

/* Hero Section. Home Page */
#hero{
    display: flex;
    justify-content: space-between;
    padding: 30px;
    height: 60vh;
    
}

.hero-content{
    padding: 10px 20px;
    margin: 20px;
    width: 60%;
    height: 100%;
    /* border: 1px solid green; */
}

.hero-img{
    width: 50%;
}

#hero img{
    height: 100%;
    width: 100%;
}

/* About. Home Page  */
#about{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 40vh;
}

.about-img{
    width: 40%;
}

.about-img img{
    height: 80%;
    width: 80%;
}

.three-pack{
    width: 40%;
} 

.three-pack img{
    height: 90%;
    width: 90%;
}

.about-text{
    width: 40%;
}

.about-text h2{
    font-weight: 200;
    font-size: 1.5rem;
    text-align: center;
    text-transform: capitalize;
    line-height: 1.5;
}

.about-text p{
    text-transform: capitalize;
    line-height: 1.5;
    text-align: justify;
}

/* Contact. Home Page */
#contact{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#contact .form{
    width: 50%;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 15px;
}

#contact .form-group{
    padding: 20px;
    border-bottom: 1px dotted #ccc;
}

#contact .one{
    border-bottom: none;
}

contact .form label{
    display: block;
    padding-bottom: 10px;
    text-align: left;
    color: #fff;
}

#contact .form input,
#contact textarea{
    width: 100%;
    border-radius: 10px;
    padding: 10px 13px;
}

#contact .contact-img{
    width: 40%;
}

#contact .contact-img img{
    height: 60%;
    width: 60%;
}

/* Register and Login Pages */
.entry{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
}

.entry-text{
    width: 30%;
    margin-right: 20px;
}

.entry-text img{
    width: 100%;
    height: 100%;
}

/* resizing the image on the login page */
.entry-text img[alt='login']{
    height: 300px;
    width: 300px;
}

.entry-text p{
    padding-top: 20px;
    text-align: justify;
}

.register{
    flex: 1;
    width: 70%;
}

.register  h1{
    color: var(--primary-color);
    font-weight: bolder;
}

.form-control{
    /* border: 1px solid red; */
    margin-bottom: 20px;
    padding: 10px;
}

.form-control label{
    display: block;
    color: #777;
    margin-bottom: 10px;
}

.form-control input{
    display: block;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border-color: var(--background-color);
    outline: 0;
}

.form-control input:active{
    outline: none;
    border-color: var(--primary-color);
}

/* textarea in the login page */
#topic{
    height: 500px;
    width: 500px;
    font-size: 20px;
    letter-spacing: 0.3rem;
    line-height: 1.5;
}

/* Posts Comments HTML PAGE */
.heading{
    padding: 10px 0;
    margin: 20px;
}

.post-review{
    padding: 10px 16px;
    margin: 20px 0;
    border-bottom: 2px solid #fafafa;
}

.post-review:hover{
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
}

.post-review h2{
    font-size: 20px;
    color: #e6e6e6;
    margin-bottom: 8px;
}

.authors-name{
    border-bottom: 2px dotted var(--primary-color);
}

.textarea{
    display: block;
    height: 300px;
    width: 500px;
    margin-top: 20px;
    margin-bottom: 10px;
}
.btn-primary{
    display: block;
    border: 1px solid var(--primary-color);
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    color: white;
    background-color: var(--primary-color);
}





