<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css')}}">
    {% if title %}
        <title>Forum - { title }</title>
    {% else %}
        <title>Forum</title>
    {% endif %}
</head>
<body>
    <nav id="navbar">
        
        <h1> <span class="icon-forum"><img src="{{ url_for('static', filename='images/icons.svg')}}" alt="forum"></span>Discussion Hub</h1>
        {% block navbar %}{% endblock navbar %}
    </nav>
    {% block content %}{% endblock content %}


    <script src="{{ url_for('static', filename='main.js')}}"></script>
</body>
</html>