{% extends 'base.html' %}

{% block navbar %}
<ul>
    <li><a href="{{url_for('home')}}">Home</a></li>
    <li><a class="bg-dark" href="{{url_for('register')}}">Register</a></li>
</ul>
{% endblock navbar %}

{% block content %}
<main class="entry container">
    <section class="entry-text">
        <img src="{{ url_for('static', filename='images/login.png')}}" alt="login">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure voluptatum et vel repellendus cumque adipisci at delectus totam, veniam consectetur vero incidunt rem ullam, modi mollitia optio illum atque deleniti!</p>
    </section>
    <form action="" method="POST" class="register">
        {{ form.csrf_token }}
        {{ form.name }}
        
        <h1 class="l-heading uppercase center">Login Here</h1>
        {% with messages = get_flashed_messages(with_categories = true) %}
            {% if messages, category %}
                {% for category, msg in messages %}
                    <p class="{{category}}">{{ msg }}</p>
                    
                {% endfor %}
            {% endif %}  
        {% endwith %}
        <div class="line"></div>
        <div class="form-control">
            {{ form.email.label }}
            {% if form.email.errors %}
                {% for error in form.email.errors %}
                    {{ form.email(placeholder='Enter email...') }}
                    <small class="error">{{ error }}</small>
                {% endfor %}
            {% else %}
                {{ form.email(placeholder='Enter email...') }}
            {% endif %}
        </div>
        <div class="form-control">
            {{ form.password.label }}
            {% if form.password.errors %}
                {% for error in form.password.errors %}
                    {{ form.password(placeholder='Enter password...') }}
                    <small class="error">{{ error }}</small>
                {% endfor %}
            {% else %}
                {{ form.password(placeholder='Enter password...') }}
            {% endif %}
        </div>
        <div>
            {{ form.submit(class="btn bg-primary") }}
        </div>
        <small>Not Registered? <a class="error" href="{{url_for('register')}}">Click Here to Register</a></small>
    
    </form>

</main>

{% endblock content %}