{% extends 'base.html' %}

{% block navbar %}
<ul>
    <li><a href="{{url_for('home')}}">Home</a></li>
    <li><a class="bg-dark" href="{{url_for('login')}}">Login</a></li>
</ul>
{% endblock navbar %}

{% block content %}
<main class="entry container">
    <section class="entry-text">
        <img src="{{ url_for('static', filename='images/register.png')}}" alt="">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure voluptatum et vel repellendus cumque adipisci at delectus totam, veniam consectetur vero incidunt rem ullam, modi mollitia optio illum atque deleniti!</p>
    </section>
    <form action="" method="POST" class="register">
        {{ form.csrf_token }}
        {{ form.name }}
        
        <h1 class="l-heading uppercase center">Join Today</h1>
        <div class="line"></div>
        <div class="form-control">
            {{ form.username.label }}
            {% if form.username.errors %}
                {% for error in form.username.errors %}
                    {{ form.username(placeholder='Enter username...') }}
                    <small class="error">{{ error }}</small>
                {% endfor %}
            {% else %}
                {{ form.username(placeholder='Enter username...') }}
            {% endif %}
        </div>
        <div class="form-control">
            {{ form.email.label }}
            {% if form.email.errors %}
                {% for error in form.email.errors %}
                    {{ form.email(placeholder='Enter email...') }}
                    <small class="error">{{ error }}</small>
                {% endfor %}
            {% else %}
                {{ form.email(placeholder='Enter email...') }}
            {% endif %}
        </div>
        <div class="form-control">
            {{ form.password.label }}
            {% if form.password.errors %}
                {% for error in form.password.errors %}
                    {{ form.password(placeholder='Enter password...') }}
                    <small class="error">{{ error }}</small>
                {% endfor %}
            {% else %}
                {{ form.password(placeholder='Enter password...') }}
            {% endif %}
        </div>
        <div class="form-control">
            {{ form.confirm_password.label }}
            {% if form.confirm_password.errors %}
                {% for error in form.confirm_password.errors %}
                    {{ form.confirm_password(placeholder='Confirm Password...') }}
                    <small class="error">{{ error }}</small>
                {% endfor %}
            {% else %}
                {{ form.confirm_password(placeholder='Confirm Password...') }}
            {% endif %}
        </div>
        <div>
            {{ form.submit(class="btn bg-primary") }}
        </div>

    </form>
</main>

{% endblock content %}